.widget-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 10px;

  .info {
    background: lightgrey;
    padding: 24px;
  }

  .list-content {
    display: flex;
  }
}
